@import '../../assets/styles/colors';
@import '../../assets/styles/variaveis';

.UserCard {
    display: flex;
    flex-direction: row;
    border: $border;
    border-radius: $radiusBg;
    width: 1286px;
    height: 171px;
    margin-bottom: 34px;

    img {
        margin: 13px;
        width: 144px;
        height: 144px;
    }

    h2 {
        margin-top: 22px;
    }
}