@import '../../assets/styles/colors';
@import '../../assets/styles/variaveis';

.card {
    border-bottom: 1px solid $btnselecionado;
    padding-bottom: 13px;

    .lista_title {
        @include flex;
        justify-content: space-between;
        padding-top: 10px;

        h2 {
            font-size: 36px;
            font-weight: 400;
            margin: 0;
        }

        .btn_estrela {
            width: 43px;
            height: 43px;
            background-color: transparent;
            border: none;

            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }

    p {
        margin: .5rem 0;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: $cinza;
    }

    .star_repositorios {
        width: 22px;
    }

    span {
        color: $cinza;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
    }
}